<!-- ngif+async technique below explained in   medium.com/@ofirrifo/extract-multiple-observables-with-the-async-pipe-in-angular-b119d22f8e05 -->
<section class="f1-home"
         *ngIf="{
            totalDriversCount: totalDriversCount$ | async,
            fuzzySearchResults: fuzzySearchResults$ | async,
            jumpstartFilterText: jumpstartFilterText$ | async,
            debounceFilterboxConfig: debounceFilterboxConfig$ | async,
            driversViewportItemsCount: driversViewportItemsCount$ | async,
            driversCollectionInitialized: driversCollectionInitialized$ | async
         } as data;">
    <input type="search"
           name="searchbox"
           class="f1-driver-searchbox"
           placeholder="{{ data.driversCollectionInitialized ? 'Fuzzy-Search in ' + data.totalDriversCount + ' drivers ... (p.e. Mich Schumac)' : '( Loading ... )' }}"
           autocomplete="off"
           appFocusOnLoad
           appDebounceInput
           [ngModel]="data.jumpstartFilterText"
           [debounceInputConfig]="data.debounceFilterboxConfig"
           (debounceInputChanged)="filterTermChanged($event)" />

    <app-drivers-list [loading]="!data.driversCollectionInitialized"
                      [viewportItemCount]="data.driversViewportItemsCount"
                      [fuzzySearchResults]="data.fuzzySearchResults"
                      (driverClicked)="driverClicked($event)">
    </app-drivers-list>
</section>