@import "analogies";

.f1-global-container {
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  max-width: none;
  background: #f1f1f1;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;

  .f1-core-content {
    height: 100%;
    border: 1px solid #e8e8e8;
    margin: 1.5em 1.5em 0 1.5em;
    height: unset;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 2px;
  }

  .f1-core-content-wrapper {
    top: 4.375em;
    float: left;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    padding-bottom: 4.375em;

    width: $core-view-width-normal;
    transition: width 1s;
    &.f1-enlarged-core-section-mode {
      width: $core-view-width-enlarged;
    }
  }

  @media only screen and (max-width: 48em) {
    .f1-core-content-wrapper {
      width: 100%;
      top: 0;
      padding-bottom: 0;

      &.f1-enlarged-core-section-mode {
        width: 100%;
      }
    }
  }
}
