<section class="f1-global-container">
  <app-sidebar></app-sidebar>
  <div appViewMode class="f1-core-content-wrapper">
    <app-header></app-header>
    <section class="f1-core-content">
      <router-outlet></router-outlet>
    </section>
  </div>
</section>