<!-- ngif+async technique below explained in   medium.com/@ofirrifo/extract-multiple-observables-with-the-async-pipe-in-angular-b119d22f8e05 -->
<section class="f1-message-board"
         *ngIf="{
            shenanigans: shenanigans$ | async
         } as data;">
   <h2>Message:</h2>
   <textarea readonly
             class="f1-error-message"
             [class.f1-full-height]="!data.shenanigans?.details"
             [ngModel]="data.shenanigans?.message || '(Message N/A? Huh? How did we get here?)'"></textarea>

   <h2 *ngIf="data.shenanigans?.details">Details:</h2>
   <textarea *ngIf="data.shenanigans?.details"
             class="f1-error-details"
             readonly
             [ngModel]="data.shenanigans?.details"
             #errorDetailsBox></textarea>

   <p class="f1-return-home">Return <a [routerLink]="['/']">Home</a>.</p>
</section>
