.f1-message-board {
  height: calc(100vh - 7.5em);
  padding: 1em;

  .f1-error-message,
  .f1-error-details {
    border: 1px solid lightgray;
    padding: 0.5em;
    overflow-x: hidden;
    white-space: nowrap;
    margin-bottom: 0.5em;
  }

  .f1-error-message {
    height: calc(100vh - 57em);
  }

  .f1-error-details {
    height: calc(100vh - 26.5em);
  }

  @media only screen and (max-width: 48em) {
    .f1-return-home {
        text-align: right;
    }
  }
}
