@keyframes f1-dancing-dot-wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-0.23em);
  }
}

.f1-dancing-dots-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .f1-dancing-dot {
    margin: auto 0.15em;
    border: 0.3em solid lightgray;
    padding: 0;
    font-size: 2em;
    border-radius: 50%;

    animation: f1-dancing-dot-wave 1.15s linear infinite;
    &:nth-child(2) {
      animation-delay: -1.05s;
    }
    &:nth-child(3) {
      animation-delay: -0.95s;
    }
  }
}
