.f1-driver-profile {
  height: calc(100vh - 7.7rem);

  .f1-box {
    &.f1-driver-basic-info {
      height: auto;
      min-width: 10em;
      padding-top: 2em;
    }

    &.f1-driver-racing-history {
      flex-grow: 1;
    }
  }

  @media only screen and (max-width: 48em) {
    height: calc(100vh - 7rem);

    .f1-box {
      &.f1-driver-basic-info {
        height: fit-content;
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid black;
      }

      &.f1-driver-racing-history {
        height: fit-content;
      }
    }
  }
}
