<!-- ngif+async technique below explained in   medium.com/@ofirrifo/extract-multiple-observables-with-the-async-pipe-in-angular-b119d22f8e05 -->
<section class="f1-driver-profile f1-container"
         *ngIf="{
            driverBasicInfo: driverBasicInfo$ | async,
            debounceFilterboxConfig: debounceFilterboxConfig$ | async,
            driverRacingHistoryColumnStates: driverRacingHistoryColumnStates$ | async,
            driverRacingHistoryEntriesProcessed: driverRacingHistoryEntriesProcessed$ | async,
            driverRacingHistoryViewportItemsCount: driverRacingHistoryViewportItemsCount$ | async
         } as data;">

   <app-driver-info class="f1-box f1-driver-basic-info"
                    [driverBasicInfo]="data.driverBasicInfo">
   </app-driver-info>
   <app-driver-racing-history-grid class="f1-box f1-driver-racing-history"
                                   [columnStates]="data.driverRacingHistoryColumnStates"
                                   [viewportItemsCount]="data.driverRacingHistoryViewportItemsCount"
                                   [racingHistoryRecords]="data.driverRacingHistoryEntriesProcessed"
                                   [debounceFilterboxConfig]="data.debounceFilterboxConfig"
                                   (columnFilteringRequest)="columnFilteringRequest($event)"
                                   (columnSortingTweakRequest)="columnSortingTweakRequest($event)">
   </app-driver-racing-history-grid>

</section>