<ng-template [ngIf]="loading"
             [ngIfElse]="ready">
    <div class="f1-drivers-info-list-viewport">
        <app-loading-anim-dancing-dots></app-loading-anim-dancing-dots>
    </div>
</ng-template>

<ng-template #ready>
    <cdk-virtual-scroll-viewport class="f1-drivers-info-list-viewport"
                                 [itemSize]="viewportItemCount">

        <ul class="f1-driver-info-list">
            <li class="f1-driver-info"
                *cdkVirtualFor="let searchResult of fuzzySearchResults; trackBy: searchResultTrackByFn">
                <a href="javascript:void(0);"
                   title="Click for Profile"
                   (click)="itemClicked(searchResult.item)">
                    <ng-container
                                  *ngFor="let chunk of (searchResult | appFuzzySearchResultChunkSplitter:'name' | async); trackBy: chunkTrackByFn">
                        <ng-template [ngIf]="chunk.isMatch"
                                     [ngIfElse]="asPlainText">
                            <em class="f1-fuzzy-chunk-match">{{chunk.text}}</em>
                        </ng-template>
                        <ng-template #asPlainText>{{chunk.text}}</ng-template>
                    </ng-container>
                </a>
            </li>
        </ul>

    </cdk-virtual-scroll-viewport>
</ng-template>