@import "mixins";

.f1-drivers-info-list-viewport {
  width: 100%;
  height: calc(100vh - 10em);

  .f1-dancing-dots-container .f1-dancing-dot {
    font-size: 5.5em !important;
  }

  .f1-driver-info-list {
    margin: 0;
    padding: 0;

    .f1-driver-info {
      height: 1.875em;
      list-style: none;
      text-align: center;
      padding-top: 0.25em;

      a {
        cursor: pointer;
        font-weight: normal;
      }

      @include f1-mxn-revert-highlighting;
      &:hover {
        @include f1-mxn-highlight-row;

        a {
          font-weight: bolder;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .f1-fuzzy-chunk-match {
        font-style: inherit;
        background-color: rgba(255, 255, 0, 0.151);
      }
    }
  }
}
