@charset "UTF-8";

@mixin f1-mxn-highlight-item($bg-color: #f5f5f57e, $time: 200ms, $mode: linear) {
  background-color: $bg-color;
  transition: background-color $time $mode;
  -moz-transition: background-color $time $mode;
  -webkit-transition: background-color $time $mode;
  -ms-transition: background-color $time $mode;
}

@mixin f1-mxn-highlight-row($bg-color: rgb(247, 244, 244)) {
  @include f1-mxn-highlight-item($bg-color: $bg-color);
}

@mixin f1-mxn-revert-highlighting($bg-color: inherit, $time: 730ms, $mode: linear) {
  background-color: $bg-color;
  transition: background-color $time $mode;
  -moz-transition: background-color $time $mode;
  -webkit-transition: background-color $time $mode;
  -ms-transition: background-color $time $mode;
}

@mixin f1-mxn-unselectable-text {
  -webkit-touch-callout: none; //    ios safari   stackoverflow.com/a/4407335/863651
  -webkit-user-select: none; //      safari
  -khtml-user-select: none; //       konqueror html
  -moz-user-select: none; //         old versions of firefox
  -ms-user-select: none; //          internet explorer edge
  user-select: none; //              nonprefixed version currently supported by chrome opera and firefox
}
