<div appViewMode
     class="f1-side-menu f1-expanded">
    <a href="javascript:void(0);"
       class="f1-logo"
       (click)="logoClicked()"><img alt="Logo"
             src="/assets/f1.svg"
             title="Home" /></a>
    <nav>
        <ul>
            <!--
           <li>
              <a class="active" [routerLink]="['']"><span>Home</span></a>
           </li>
        -->
        </ul>
    </nav>
    <footer>
        F1 Search Engine
    </footer>
</div>