@import 'analogies';

.f1-side-menu {
  width: $sidebar-width-normal;
  transition: width 1s;
  &.f1-enlarged-core-section-mode {
    width: $sidebar-width-shrinked;
  }

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  padding: 0;
  float: left;
  position: relative;
  background: #222;
  color: #fff;
  min-height: 100vh;

  .f1-logo {
    width: 70%;
    min-width: 5em;
    
    cursor: pointer;
    margin-top: 2.8125em;

    &:focus {
      outline: none;
    }
  }

  ul {
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin: 0;
    list-style-type: none;
    li {
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        color: #fff;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.5em;
        border-bottom: 0;
        i {
          font-size: 1.5em;
          margin-right: 1.5em;
          -webkit-transition: all 150ms ease-in-out;
          transition: all 150ms ease-in-out;
        }
        &:hover {
          &:not(.disabled) {
            color: #ffe800;
            i {
              color: #909090;
            }
          }
        }
      }
    }
  }

  > footer {
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5em 0.75em;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #646464;
    font-size: 0.75em;
  }

  hr {
    width: 100%;
    border-color: #868686;
  }

  > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
  }

  @media only screen and (max-width: 48em) {
    display: none;

    > footer {
      display: none;
    }

    > nav {
      display: none;
    }

    .f1-expanded {
      height: 100vh;

      > footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      > nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
}
