<header appViewMode
        class="f1-global-header"
        *ngIf="{ coreStatus: coreStatus$ | async } as data;">
  <a *ngIf="data.coreStatus?.header?.showBackButton"
     href="javascript:void(0);"
     title="Back"
     class="f1-back-button"
     (click)="backButtonClicked()"></a>

  <ng-template [ngIf]="!data.coreStatus?.header?.text"
               [ngIfElse]="ready">
    <app-loading-anim-dancing-dots class="f1-header-loading-anim"></app-loading-anim-dancing-dots>
  </ng-template>

  <ng-template #ready>

    <ng-template [ngIf]="data.coreStatus?.header?.url"
                 [ngIfElse]="noUrl">
      <a target="_blank"
         [href]="data.coreStatus?.header?.url">
        <h2 class="f1-header f1-link">{{data.coreStatus?.header?.text}}</h2>
      </a>
    </ng-template>

    <ng-template #noUrl>
      <h2 class="f1-header">{{data.coreStatus?.header?.text}}</h2>
    </ng-template>

  </ng-template>

</header>