@import "analogies";

.f1-global-header {
  white-space: nowrap;
  vertical-align: middle;
  * {
    white-space: nowrap; //vital for small screen sizes
    vertical-align: middle;
  }

  width: $core-view-width-normal;
  transition: width 1s;
  &.f1-enlarged-core-section-mode {
    width: $core-view-width-enlarged;
  }

  .f1-header-loading-anim {
    display: inline-block;
  }

  top: 0;
  height: 4.375em;
  z-index: 2;
  padding: 1.5em;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #ededed;

  h2 {
    font-weight: 700;
    margin-bottom: 0.125em;
  }

  span {
    color: #646464;
    font-weight: 700;
  }

  .f1-back-button {
    width: 2.5em;
    height: 2.5em;
    opacity: 0.3;
    display: inline-block;
    background: url("/assets/back.svg");
    text-indent: -9999px;
    margin-right: 1.25em;
    vertical-align: middle; //vital
    background-size: contain;

    &:hover {
      opacity: 0.55;
    }
  }

  .f1-header {
    display: inline-block;

    &.f1-link:hover {
      text-decoration: underline;
    }
  }

  @media only screen and (max-width: 48em) {
    width: 100% !important;
    z-index: 1;
    position: relative;
    margin-top: 0;
    border-bottom: 1px soild #e8e8e8;
  }
}
