.f1-driver-info {
  font-size: 1em;
  font-weight: bold;

  .f1-dancing-dots-container {
    font-size: 1.5em !important;
    margin-top: 2.5em !important;
  }

  .f1-container {
    flex-direction: column;
  }

  .f1-driver-basic-info {
    .f1-driver-tidbit {
      margin: auto auto;

      label {
        text-decoration: underline;
      }

      + .f1-driver-tidbit {
        margin-top: 1em;
      }

      span {
        width: 8.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .f1-box {
      padding: 0 0.5em;
    }
  }

  @media only screen and (max-width: 48em) {
    height: 1.6em;

    .f1-dancing-dots-container {
      top: 1em !important;
    }

    .f1-container {
      flex-direction: row;
    }

    .f1-driver-basic-info .f1-driver-tidbit {
      * {
        white-space: nowrap;
      }

      + .f1-driver-tidbit {
        margin-top: 0;
      }
    }
  }
}
