<article class="f1-driver-info f1-box">

    <ng-template [ngIf]="!driverBasicInfo"
                 [ngIfElse]="ready">
        <app-loading-anim-dancing-dots></app-loading-anim-dancing-dots>
    </ng-template>

    <ng-template #ready>
        <form name="driverBasicInfo" class="f1-container f1-driver-basic-info">
            <div class="f1-container f1-box f1-driver-tidbit">
                <label class="f1-box" for="birthday">Birthday:</label>
                <span class="f1-box" id="birthday">{{driverBasicInfo?.dateOfBirthTimestamp | date:'mediumDate'}}</span>
                <span class="f1-box" id="age">({{driverBasicInfo?.dateOfBirthTimestamp | appHumanAge | async}} years ago)</span>
            </div>
            <div class="f1-container f1-box f1-driver-tidbit">
                <label class="f1-box" for="nationality">Nationality:</label>
                <span class="f1-box" id="nationality">{{driverBasicInfo?.nationality}}</span>
            </div>
        </form>
    </ng-template>

</article>