<article class="f1-driver-racing-history f1-box"
         *ngIf="{
            Date: columnStates?.get(EColumns.Date),
            Circuit: columnStates?.get(EColumns.Circuit),
            Points: columnStates?.get(EColumns.Points),
            Position: columnStates?.get(EColumns.Position),
            Status: columnStates?.get(EColumns.Status),
            Grid: columnStates?.get(EColumns.Grid),
            Laps: columnStates?.get(EColumns.Laps),
            Number: columnStates?.get(EColumns.Number),
            Team: columnStates?.get(EColumns.Team),

            debounceFilterboxConfig: debounceFilterboxConfig
         } as cols;">
    <table class="f1-grid-headers-container">
        <thead>
            <th title="Date"
                class="f1-col f1-racing-history-entry-col-date"
                [class.f1-ascending]="cols.Date?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Date?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Date?.sortChainIndex !== null && cols.Date?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Date?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Date)"
                (contextmenu)="colHeaderRightClicked(EColumns.Date)">Date</th>
            <th title="Circuit"
                class="f1-col f1-racing-history-entry-col-circuit"
                [class.f1-ascending]="cols.Circuit?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Circuit?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Circuit?.sortChainIndex !== null && cols.Circuit?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Circuit?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Circuit)"
                (contextmenu)="colHeaderRightClicked(EColumns.Circuit)">Circuit</th>
            <th title="Points"
                class="f1-col f1-racing-history-entry-col-points"
                [class.f1-ascending]="cols.Points?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Points?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Points?.sortChainIndex !== null && cols.Points?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Points?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Points)"
                (contextmenu)="colHeaderRightClicked(EColumns.Points)">#</th>
            <th title="Position"
                class="f1-col f1-racing-history-entry-col-position"
                [class.f1-ascending]="cols.Position?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Position?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Position?.sortChainIndex !== null && cols.Position?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Position?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Position)"
                (contextmenu)="colHeaderRightClicked(EColumns.Position)">Position</th>
            <th title="Status"
                class="f1-col f1-racing-history-entry-col-status"
                [class.f1-ascending]="cols.Status?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Status?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Status?.sortChainIndex !== null && cols.Status?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Status?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Status)"
                (contextmenu)="colHeaderRightClicked(EColumns.Status)">Status</th>
            <th title="Grid"
                class="f1-col f1-racing-history-entry-col-grid"
                [class.f1-ascending]="cols.Grid?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Grid?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Grid?.sortChainIndex !== null && cols.Grid?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Grid?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Grid)"
                (contextmenu)="colHeaderRightClicked(EColumns.Grid)">Grid</th>
            <th title="Laps"
                class="f1-col f1-racing-history-entry-col-laps"
                [class.f1-ascending]="cols.Laps?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Laps?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Laps?.sortChainIndex !== null && cols.Laps?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Laps?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Laps)"
                (contextmenu)="colHeaderRightClicked(EColumns.Laps)">Laps</th>
            <th title="Number"
                class="f1-col f1-racing-history-entry-col-number"
                [class.f1-ascending]="cols.Number?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Number?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Number?.sortChainIndex !== null && cols.Number?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Number?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Number)"
                (contextmenu)="colHeaderRightClicked(EColumns.Number)">No.</th>
            <th title="Team"
                class="f1-col f1-racing-history-entry-col-constructor"
                [class.f1-ascending]="cols.Team?.sortMode === ESortMode.Ascending"
                [class.f1-descending]="cols.Team?.sortMode === ESortMode.Descending"
                [class.f1-sort-chain-index]="this.numberOfSortedColumns > 1 && cols.Team?.sortChainIndex !== null && cols.Team?.sortChainIndex !== undefined"
                [attr.data-sort-chain-index]="cols.Team?.sortChainIndex"
                (click)="colHeaderLeftClicked(EColumns.Team)"
                (contextmenu)="colHeaderRightClicked(EColumns.Team)">Team</th>
            <!-- when the scrollbar is active in tbody we get a few px reduction -->
            <!-- in its width which we must emulate here in the headers group    -->
            <th class="f1-racing-history-entry-col-scrollbar-slug"
                [style.width.px]="ScrollbarWidth"></th>
        </thead>
        <tbody>
            <tr>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Date?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Date)"
                           appDebounceInput
                           name="dateSearchbox"
                           appFocusOnLoad /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Circuit?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Circuit)"
                           appDebounceInput
                           name="circuitSearchbox" /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Points?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Points)"
                           appDebounceInput
                           name="pointsSearchbox" /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Position?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Position)"
                           appDebounceInput
                           name="positionSearchbox" /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Status?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Status)"
                           appDebounceInput
                           name="statusSearchbox" /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Grid?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Grid)"
                           appDebounceInput
                           name="gridSearchbox" /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Laps?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Laps)"
                           appDebounceInput
                           name="lapsSearchbox" /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Number?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Number)"
                           appDebounceInput
                           name="numberSearchbox" /></td>
                <td><input type="search"
                           class="f1-grid-column-filter"
                           autocomplete="off"
                           [ngModel]="cols?.Team?.filterTerm"
                           [debounceInputConfig]="cols.debounceFilterboxConfig"
                           (debounceInputChanged)="colFilterChanged($event, EColumns.Team)"
                           appDebounceInput
                           name="teamSearchbox" /></td>
                <!-- when the scrollbar is active in tbody we get a few px reduction -->
                <!-- in its width which we must emulate here in the headers group    -->
                <td class="f1-racing-history-entry-col-scrollbar-slug"
                    [style.width.px]="ScrollbarWidth"></td>
            </tr>
        </tbody>
    </table>
    <hr class="f1-grid-separator" />
    <ng-template [ngIf]="!racingHistoryRecords"
                 [ngIfElse]="ready">
        <app-loading-anim-dancing-dots></app-loading-anim-dancing-dots>
    </ng-template>

    <ng-template #ready>
        <cdk-virtual-scroll-viewport class="f1-driver-racing-history-viewport"
                                     [itemSize]="viewportItemsCount">
            <table class="f1-grid-content-container">
                <tbody>
                    <tr class="f1-single-racing-history-entry"
                        *cdkVirtualFor="let t of racingHistoryRecords; trackBy: racingHistoryRecordsTrackByFn">
                        <td class="f1-racing-history-entry-col-date">{{t?.dateHumanFriendly || 'N/A'}}</td>
                        <td class="f1-racing-history-entry-col-circuit"
                            title="{{t?.circuitSpecs?.circuitName || 'N/A'}}">
                            <a [href]="t?.circuitSpecs?.url"
                               target="_blank">{{t?.circuitSpecs?.circuitName || 'N/A'}}</a>
                        </td>
                        <td class="f1-racing-history-entry-col-points">{{t?.points || 'N/A'}}</td>
                        <td class="f1-racing-history-entry-col-position">
                            {{t?.position || 'N/A'}}
                            <span *ngIf="t?.positionText !== t?.position"
                                  class="f1-position-text">{{t?.positionText}}</span>
                        </td>
                        <td class="f1-racing-history-entry-col-status"
                            title="{{t?.status || 'N/A'}}">{{t?.status || 'N/A'}}</td>
                        <td class="f1-racing-history-entry-col-grid">{{t?.grid || 'N/A'}}</td>
                        <td class="f1-racing-history-entry-col-laps">{{t?.laps || 'N/A'}}</td>
                        <td class="f1-racing-history-entry-col-number">{{t?.number || 'N/A'}}</td>
                        <td class="f1-racing-history-entry-col-constructor"
                            title="{{t?.carConstructorSpecs?.name || 'N/A'}}">
                            <a [href]="t?.carConstructorSpecs?.url"
                               target="_blank">{{t?.carConstructorSpecs?.name || 'N/A'}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-template>
</article>