@import "mixins";

.f1-driver-racing-history {
  width: 100%;
  height: calc(100vh - 15.5em);

  .f1-driver-racing-history-viewport {
    height: calc(100vh - 15.5em);
  }

  .f1-dancing-dots-container .f1-dancing-dot {
    font-size: 5.5em !important;
  }

  .f1-grid-headers-container {
    th {
      padding-top: 1em;
      padding-bottom: 1em;

      @include f1-mxn-revert-highlighting;
      &:hover {
        @include f1-mxn-highlight-item;
      }
    }

    tbody {
      .f1-grid-column-filter {
        width: 95%;
        margin: 0.5em auto;
        padding: 0.5em 0.75em;
        text-align: center;
        border-radius: 0;

        font-size: 1em;
        font-weight: 500;

        &:hover,
        &:focus {
          border-color: lightgray;
        }
      }
    }
  }

  .f1-grid-separator {
    margin: 0 auto 0.8em auto;
  }

  .f1-grid-content-container .f1-single-racing-history-entry {
    border-bottom: 1px solid rgba(211, 211, 211, 0.315);

    @include f1-mxn-revert-highlighting;
    &:hover {
      @include f1-mxn-highlight-row;
    }

    td {
      padding: 0.75em 0;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;

    th,
    td {
      max-width: 0;
      min-width: 0.5em;

      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;

      a:hover {
        text-decoration: underline;
      }

      &.f1-racing-history-entry-col-date {
        width: 19%;
      }
      &.f1-racing-history-entry-col-circuit {
        width: 28%;
      }
      &.f1-racing-history-entry-col-points {
        width: 5%;
      }
      &.f1-racing-history-entry-col-position {
        width: 9%;

        > .f1-position-text {
          color: darkorange;
          font-weight: bold;

          &:before {
            color: black;
            content: " ( ";
            font-weight: normal;
          }

          &:after {
            color: black;
            content: " ) ";
            font-weight: normal;
          }
        }
      }
      &.f1-racing-history-entry-col-status {
        width: 9%;
      }
      &.f1-racing-history-entry-col-grid {
        width: 7%;
      }
      &.f1-racing-history-entry-col-laps {
        width: 7%;
      }
      &.f1-racing-history-entry-col-number {
        width: 6%;
      }
      &.f1-racing-history-entry-col-constructor {
        width: 10%;
      }
      &.f1-racing-history-entry-col-scrollbar-slug {
        width: 0.9%; //firefox hack
        margin: 0;
        padding: 0;
        visibility: hidden;
      }
    }

    .f1-col {
      @include f1-mxn-unselectable-text;

      cursor: pointer;

      &:after,
      &:before {
        font-size: 1em;
        visibility: hidden;
        white-space: pre;
        font-weight: bold;
      }

      &.f1-sort-chain-index:before {
        content: attr(data-sort-chain-index);
        visibility: visible;
        margin-right: 0.65em;

        color: white;
        width: 1.3em;
        height: 1.3em;
        display: inline-block;
        font-size: 0.8em;
        text-align: center;
        background: lightgrey;
        border-radius: 20%;
        margin-bottom: 0.125em;
        vertical-align: middle;
        padding-bottom: 1.47em;
      }

      &.f1-sort-chain-index[data-sort-chain-index="1"]:before {
        background-color: rgba(240, 128, 128, 0.95) !important;
      }

      &.f1-sort-chain-index[data-sort-chain-index="2"]:before {
        background-color: rgba(240, 128, 128, 0.85) !important;
      }

      &.f1-sort-chain-index[data-sort-chain-index="3"]:before {
        background-color: lightblue !important;
      }

      &:hover:after {
        color: grey;
        visibility: visible;
      }

      &.f1-ascending:after {
        content: "  ⇑";
        visibility: visible;
      }

      &.f1-descending:after {
        content: "  ⇓";
        visibility: visible;
      }
    }
  }

  @media only screen and (max-width: 48em) {
    height: calc(100vh - 18.5em);

    .f1-driver-racing-history-viewport {
      height: calc(100vh - 18.5em);
    }
  }
}
