@charset "UTF-8";

html {
	font-family: sans-serif;
	font-size: 87.5%;
	line-height: 1.71429em;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
	border: 0;
	color: #383838;
	min-height: 100%;
	background: 0 0;
	font-family: sans-serif;
	font-size: 87.5%;
	line-height: 1.71429em;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	[type=button] {
		-webkit-appearance: button;
		-webkit-appearance: button;
	}
}
body {
	margin: 0;
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	border: 0;
	color: #383838;
	min-height: 100%;
	background: 0 0;
	margin: 0;
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
article {
	display: block;
	display: block;
}
aside {
	display: block;
	display: block;
}
footer {
	display: block;
	display: block;
}
header {
	display: block;
	display: block;
}
nav {
	display: block;
	display: block;
}
section {
	display: block;
	display: block;
}
h1 {
	line-height: 1.5em;
	margin: .75em 0;
	line-height: 1.5em;
	margin: .75em 0;
	color: inherit;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-size: 2rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5rem;
	small {
		line-height: 0;
		color: #f7f5f3;
	}
}
h2 {
	line-height: 2em;
	margin: 1em 0;
	line-height: 2em;
	margin: 1em 0;
	color: inherit;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-size: 1.25rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5rem;
	small {
		line-height: 0;
		color: #f7f5f3;
	}
}
h3 {
	line-height: 1.28205em;
	margin: 1.28205em 0;
	line-height: 1.28205em;
	margin: 1.28205em 0;
	color: inherit;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-size: 1.125rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5rem;
	small {
		line-height: 0;
		color: #f7f5f3;
	}
}
h4 {
	margin: 1.5em 0;
	color: inherit;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5rem;
	small {
		line-height: 0;
		color: #f7f5f3;
	}
}
h5 {
	font-size: .94857em;
	line-height: 1.80723em;
	margin: 1.80723em 0;
	font-size: .94857em;
	line-height: 1.80723em;
	margin: 1.80723em 0;
	color: inherit;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5rem;
	small {
		line-height: 0;
		color: #f7f5f3;
	}
}
h6 {
	font-size: .76571em;
	line-height: 2.23881em;
	margin: 2.23881em 0;
	font-size: .76571em;
	line-height: 2.23881em;
	margin: 2.23881em 0;
	color: inherit;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5rem;
	small {
		line-height: 0;
		color: #f7f5f3;
	}
}
blockquote {
	margin: 1.71429em 40px;
	margin: 1.71429em 40px;
	margin: 0;
	padding: 0;
	margin: 0 0 24px;
	padding: .5625rem 1.25rem 0 1.1875rem;
	border-left: 1px solid #646464;
	line-height: 1.4;
	color: #222;
	p {
		line-height: 1.4;
		color: #222;
	}
}
dl {
	margin: 1.71429em 0;
	margin: 1.71429em 0;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	list-style-position: outside;
	line-height: 1.4;
	margin-bottom: 1rem;
	dt {
		margin-bottom: .3rem;
		font-weight: 700;
	}
}
ol {
	margin: 1.71429em 0;
	padding: 0 0 0 40px;
	margin: 1.71429em 0;
	padding: 0 0 0 40px;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	list-style-position: outside;
	line-height: 1.4;
	margin-left: 1.25rem;
	ol {
		margin: 0;
		margin: 0;
		margin-left: 1.25rem;
		margin-bottom: 0;
	}
	ul {
		margin: 0;
		margin: 0;
		margin-left: 1.25rem;
		margin-bottom: 0;
	}
	menu {
		margin: 0;
		margin: 0;
	}
}
ul {
	margin: 1.71429em 0;
	padding: 0 0 0 40px;
	margin: 1.71429em 0;
	padding: 0 0 0 40px;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	list-style-position: outside;
	line-height: 1.4;
	margin-left: 1.25rem;
	list-style-type: disc;
	ol {
		margin: 0;
		margin: 0;
		margin-left: 1.25rem;
		margin-bottom: 0;
	}
	ul {
		margin: 0;
		margin: 0;
		margin-left: 1.25rem;
		margin-bottom: 0;
	}
	menu {
		margin: 0;
		margin: 0;
	}
}
dd {
	margin: 0 0 0 40px;
	margin: 0 0 0 40px;
	margin: 0;
	padding: 0;
}
figcaption {
	display: block;
	display: block;
}
figure {
	display: block;
	margin: 1.71429em 40px;
	display: block;
	margin: 1.71429em 40px;
	margin: 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	clear: both;
	//max-width: 1200px;
	height: 0;
	margin: 1.5em auto;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #f4f4f4;
	border-left: 0;
}
main {
	display: block;
	display: block;
}
p {
	margin: 1.71429em 0;
	margin: 1.71429em 0;
	color: inherit;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	font-size: inherit;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	color: #646464;
}
pre {
	margin: 1.71429em 0;
	font-family: monospace, monospace;
	font-size: 1em;
	margin: 1.71429em 0;
	font-family: monospace, monospace;
	font-size: 1em;
	margin: 0;
	padding: 0;
	margin: 12px 0;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	line-height: inherit;
	color: #222;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	font-family: inherit;
	font-weight: 700;
	cursor: pointer;
	position: relative;
	border-bottom: 0;
	padding-bottom: none;
	color: #000;
	line-height: 1;
	&:active {
		outline-width: 0;
		outline-width: 0;
		color: #000;
	}
	&:hover {
		outline-width: 0;
		outline-width: 0;
		color: #000;
		border-bottom: 0;
		padding-bottom: none;
		color: #262626;
		i {
			color: #262626;
		}
	}
	&:focus {
		color: #000;
	}
	img {
		border: 0;
	}
	&:disabled {
		opacity: .5;
		&:hover {
			opacity: .5;
		}
	}
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b {
	font-weight: inherit;
	font-weight: bolder;
	font-weight: inherit;
	font-weight: bolder;
	font-weight: 700;
	line-height: inherit;
}
strong {
	font-weight: inherit;
	font-weight: bolder;
	font-weight: inherit;
	font-weight: bolder;
	font-weight: 700;
	line-height: inherit;
}
code {
	font-family: monospace, monospace;
	font-size: 1em;
	font-family: monospace, monospace;
	font-size: 1em;
	padding: .125rem .3125rem;
	border: 1px solid #e8e8e8;
	background-color: #fdfdfd;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-weight: 400;
	color: #222;
	font-size: 14px;
}
kbd {
	font-family: monospace, monospace;
	font-size: 1em;
	font-family: monospace, monospace;
	font-size: 1em;
	margin: 0;
	padding: .125rem .25rem 0;
	background-color: #fff;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	color: #222;
	border-radius: 2px;
}
samp {
	font-family: monospace, monospace;
	font-size: 1em;
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
	font-size: 80%;
	font-size: .875rem;
	line-height: inherit;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -.25em;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -.5em;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -.5em;
}
audio {
	display: inline-block;
	display: inline-block;
	&:not([controls]) {
		display: none;
		height: 0;
		display: none;
		height: 0;
	}
}
video {
	display: inline-block;
	display: inline-block;
}
img {
	border-style: none;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	border-style: none;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;

	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
}
svg {
	&:not(:root) {
		overflow: hidden;
		overflow: hidden;
	}
}
button {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	padding: 0;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 2px;
	background: 0 0;
	line-height: 1;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	padding: 0;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 2px;
	background: 0 0;
	line-height: 1;
	font-family: inherit;
	cursor: pointer;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
		outline: 1px dotted ButtonText;
	}
	&:focus {
		outline: 0;
	}
	&:active {
		outline: 0;
	}
}
input {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	overflow: visible;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	overflow: visible;
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	font-family: inherit;
	line-height: 1rem;
	color: #222;
	font-weight: 400;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
	font-size: .875rem;
	padding: 12px 12px;
	&:active {
		border: 1px solid #909090;
	}
	&:focus {
		border: 1px solid #909090;
		outline: 0;
	}
	&:hover {
		border: 1px solid #909090;
	}
	&:-ms-input-placeholder {
		color: #909090;
	}
	&::-webkit-input-placeholder {
		color: #909090;
	}
	&:-moz-placeholder {
		color: #909090;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #909090;
		opacity: 1;
	}
	&:-webkit-autofill {
		background: #fff;
		-webkit-text-fill-color: #383838;
		-webkit-box-shadow: 0 0 0 1000px #fff inset;
		&:focus {
			background: #fff;
			-webkit-text-fill-color: #383838;
			-webkit-box-shadow: 0 0 0 1000px #fff inset;
		}
		&:hover {
			background: #fff;
			-webkit-text-fill-color: #383838;
			-webkit-box-shadow: 0 0 0 1000px #fff inset;
		}
	}
	&:disabled+label {
		color: #a7a7a7;
	}
}
optgroup {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
}
select {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	text-transform: none;
	width: 100%;
	border-radius: 2px;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	text-transform: none;
	width: 100%;
	border-radius: 2px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	font-family: inherit;
	line-height: 1rem;
	color: #222;
	font-weight: 400;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
	font-size: .875rem;
	border-radius: 2px;
	padding: 0 12px;
	height: 42px;
	&:active {
		border: 1px solid #909090;
	}
	&:focus {
		border: 1px solid #909090;
		outline: 0;
	}
	&:hover {
		border: 1px solid #909090;
	}
	&:-ms-input-placeholder {
		color: #909090;
	}
	&::-webkit-input-placeholder {
		color: #909090;
	}
	&:-moz-placeholder {
		color: #909090;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #909090;
		opacity: 1;
	}
	&:-webkit-autofill {
		background: #fff;
		-webkit-text-fill-color: #383838;
		-webkit-box-shadow: 0 0 0 1000px #fff inset;
		&:focus {
			background: #fff;
			-webkit-text-fill-color: #383838;
			-webkit-box-shadow: 0 0 0 1000px #fff inset;
		}
		&:hover {
			background: #fff;
			-webkit-text-fill-color: #383838;
			-webkit-box-shadow: 0 0 0 1000px #fff inset;
		}
	}
}
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	overflow: auto;
	height: auto;
	min-height: 50px;
	border-radius: 2px;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.71429em;
	margin: 0;
	overflow: auto;
	height: auto;
	min-height: 50px;
	border-radius: 2px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	font-family: inherit;
	line-height: 1rem;
	color: #222;
	font-weight: 400;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
	font-size: .875rem;
	resize: none;
	padding: 24px;
	&:active {
		border: 1px solid #909090;
	}
	&:focus {
		border: 1px solid #909090;
		outline: 0;
	}
	&:hover {
		border: 1px solid #909090;
	}
	&:-ms-input-placeholder {
		color: #909090;
	}
	&::-webkit-input-placeholder {
		color: #909090;
	}
	&:-moz-placeholder {
		color: #909090;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #909090;
		opacity: 1;
	}
	&:-webkit-autofill {
		background: #fff;
		-webkit-text-fill-color: #383838;
		-webkit-box-shadow: 0 0 0 1000px #fff inset;
		&:focus {
			background: #fff;
			-webkit-text-fill-color: #383838;
			-webkit-box-shadow: 0 0 0 1000px #fff inset;
		}
		&:hover {
			background: #fff;
			-webkit-text-fill-color: #383838;
			-webkit-box-shadow: 0 0 0 1000px #fff inset;
		}
	}
}
[type=reset] {
	-webkit-appearance: button;
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
		outline: 1px dotted ButtonText;
	}
}
[type=submit] {
	-webkit-appearance: button;
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
		outline: 1px dotted ButtonText;
	}
}
[type=button] {
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
		outline: 1px dotted ButtonText;
	}
}
[type=checkbox] {
	box-sizing: border-box;
	padding: 0;
	box-sizing: border-box;
	padding: 0;
}
[type=radio] {
	box-sizing: border-box;
	padding: 0;
	box-sizing: border-box;
	padding: 0;
}
[type=number] {
	&::-webkit-inner-spin-button {
		height: auto;
		height: auto;
	}
	&::-webkit-outer-spin-button {
		height: auto;
		height: auto;
	}
}
[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
	-webkit-appearance: textfield;
	outline-offset: -2px;
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		-webkit-appearance: none;
	}
	&::-webkit-search-decoration {
		-webkit-appearance: none;
		-webkit-appearance: none;
	}
}
/* sleight of hand to make the placeholder disappear on focus */
input {
	&::-webkit-input-placeholder {
		opacity: 0.31;
	}
	&:-moz-placeholder { /* Firefox 18- */
		opacity: 0.31;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		opacity: 0.31;
	}
	&:-ms-input-placeholder {  
		opacity: 0.31;
	}

	&:focus {
		&::-webkit-input-placeholder {
			opacity: 0.18;
		}
		&:-moz-placeholder { /* Firefox 18- */
			opacity: 0.18;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
			opacity: 0.18;
		}
		&:-ms-input-placeholder {  
			opacity: 0.18;
		}
	}
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
	-webkit-appearance: button;
	font: inherit;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend {
	box-sizing: border-box;
	display: table;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
	box-sizing: border-box;
	display: table;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
	display: inline-block;
	vertical-align: baseline;
}
details {
	display: block;
	display: block;
}
summary {
	display: list-item;
	display: list-item;
}
menu {
	display: block;
	margin: 1.71429em 0;
	padding: 0 0 0 40px;
	display: block;
	margin: 1.71429em 0;
	padding: 0 0 0 40px;
	menu {
		margin: 0;
		margin: 0;
	}
}
canvas {
	display: inline-block;
	display: inline-block;
}
template {
	display: none;
	display: none;
}
[hidden] {
	display: none;
	display: none;
}
.foundation-mq {
	font-family: "small=0em&medium=40em&large=64em&xlarge=75em";
	font-family: "small=0em&medium=40em&large=64em&xlarge=75em";
}
*,
::after,
::before {
	box-sizing: inherit;
	box-sizing: inherit;
}


dt {
	margin: 0;
	padding: 0;
}
form {
	margin: 0;
	padding: 0;
}
td {
	margin: 0;
	padding: 0;
}
th {
	margin: 0;
	padding: 0;
}
em {
	font-style: italic;
	line-height: inherit;
}
cite {
	display: block;
	font-size: .8125rem;
	color: #646464;
	&:before {
		content: "— ";
	}
}
abbr {
	border-bottom: 1px dotted #222;
	color: #222;
	cursor: help;
}
div {
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
	margin: 0;
	padding: 0;
}
i {
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
	font-style: italic;
	line-height: inherit;
}
label {
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
	font-weight: 400;
	font-size: 1em;
	cursor: pointer;
}
li {
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
	margin: 0;
	padding: 0;
	font-size: inherit;
}
span {
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: color, border, background-color, opacity;
	transition-property: color, border, background-color, opacity;
}
