@charset "UTF-8";

@import "./normalizr";
@import "mixins";

table {
  border: none !important;
  border-collapse: collapse !important;
}

.f1-container {
  display: flex;
  flex-direction: row;

  .f1-box {
    flex-basis: content;
  }
}

* {
  // scrollbar theming for chrome //css-tricks.com/the-current-state-of-styling-scrollbars/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 0.4em;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: red;
    background-image: -webkit-linear-gradient(90deg, red 100%);
  }
}

.f1-unselectable-text {
  @include f1-mxn-unselectable-text;
}

@media only screen and (max-width: 48em) {
  .f1-container {
    flex-direction: column;
  }
}
